<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head th:replace="fragments :: head(title='Customers')"></head>
<body>
    <div th:replace="fragments :: header"></div>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title" th:text="${customer.name}">Customer Name</h3>
                <h5 class="card-subtitle" th:text="${customer.contactName}">Contact Name</h5>
                <p th:text="'Email Address: ' + ${customer.email}">Email address: foo </p>
                <p th:text="'Phone Number: ' + ${customer.phoneNumber}">Phone Number</p>
                <a class="btn btn-primary btn-sm" href="#" th:href="@{mailto:{to}(to=${customer.email})}">Send Email</a>
            </div>
        </div>
        <div class="container" sec:authorize="hasRole('ADMIN')">
            <table class="table">
                <thead>
                <th scope="col">Order Number</th>
                <th scope="col">Items</th>
                </thead>
                <tbody>
                <tr th:each="order : ${orders}">
                    <td th:text="${order.id}">Name</td>
                    <td th:text="${order.items}">Items</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <footer th:replace="fragments :: footer"></footer>
    <script th:replace="fragments :: script"></script>
</body>
</html>
