<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: head(title='Customers')"></head>
<body>
    <div th:replace="fragments :: header"></div>
    <div class="container">
        <h1 class="text-center">Customers</h1>
        <table class="table table-striped">
            <thead>
                <th scope="col">Customer</th>
                <th scope="col">Contact Name</th>
                <th scope="col">Contact Email</th>
                <th scope="col">Contact Phone</th>
                <th scope="col">Actions</th>
            </thead>
            <tbody>
                <tr th:each="customer : ${customers}">
                    <td th:text="${customer.name}">Name</td>
                    <td th:text="${customer.contactName}">Contact Name</td>
                    <td th:text="${customer.email}">Contact Email</td>
                    <td th:text="${customer.phoneNumber}">Contact Phone</td>
                    <td>
                        <a class="btn btn-primary" href="#" th:href="@{/customers/{id}(id=${customer.id})}">Details</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <footer th:replace="fragments :: footer"></footer>
    <script th:replace="fragments :: script"></script>
</body>
</html>
