<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: head(title='Products')"></head>
<body>
    <div th:replace="fragments :: header"></div>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title" th:text="'#' + ${product.id}">Product Id</h3>
                <h5 class="card-subtitle" th:text="${product.productName}">Product Name</h5>
                <p th:text="'Price: ' + ${#numbers.formatCurrency(product.price)}">Price</p>
            </div>
        </div>
    </div>
    <footer th:replace="fragments :: footer"></footer>
    <script th:replace="fragments :: script"></script>
</body>
</html>
